<div
  class="close-model bg-white border-[1px] border-[#e4e4e4] rounded-tl-lg rounded-tr-lg shadow-sm py-3 px-4 flex items-center justify-between flex-wrap"
>
  <div>
    <div class="flex flex-wrap items-center gap-2">
      <button
        type="button"
        class="font-medium size-5 rounded-[5.47px] bg-[#f4f4f4] text-sm p-2.5 text-center flex justify-center items-center"
      >
        <i class="fa-solid fa-hashtag text-[#3E97FF]"></i>
      </button>
      <p>{{ "main.show_number" | translate }}</p>
    </div>
  </div>

  <div>
    <button
      type="button"
      class="font-medium size-5 rounded-[5.47px] bg-[#f4f4f4] text-sm p-2.5 text-center flex justify-center items-center"
    >
      <i
        class="fa-solid fa-xmark text-[#1C1C28] hover:text-[#FF4B55] transition-colors"
      ></i>
    </button>
  </div>
</div>
<div class="bg-[#f8f8f8] p-5 min-h-screen shadow-md rounded-md">
  <app-home-dashboard></app-home-dashboard>
</div>
